<!DOCTYPE html>
<html>
<head>
  <title>Leytonstone Masjid</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="menu-wrapper">
  <div id="menu">
    <ul>
      <li <%if action_name == "index"%>class="current_page_item"<%end%>><%= link_to "Home", :controller => "home" %></li>
      <li <%if action_name == "prayer_times"%>class="current_page_item"<%end%>><%= link_to "Prayer times", :controller => "home", :action => "prayer_times" %></li>
      <li <%if action_name == "services"%>class="current_page_item"<%end%>><%= link_to "Services", controller: "home", :action => "services" %></li>
      <li <%if action_name == "madrasah"%>class="current_page_item"<%end%>><%= link_to "Madrasah", controller: "home", :action => "madrasah" %></li>
      <li <%if action_name == "visit_us"%>class="current_page_item"<%end%>><%= link_to "Visit us", controller: "home", :action => "visit_us" %></li>
      <li <%if action_name == "contact_us"%>class="current_page_item"<%end%>><%= link_to "Contact us", controller: "home", :action => "contact_us" %></li>
      <li <%if action_name == "donate"%>class="current_page_item"<%end%>><a href="#">Donate</a></li>
    </ul>
  </div>
  <!-- end #menu -->
</div>

<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Leytonstone <span>Masjid</span></a></h1>

      <p>Muhammad Khan Road</p>
    </div>
  </div>
</div>
<div id="banner"><img src="/images/banner.png" alt=""/></div>

<div id="wrapper">
  <!-- end #header -->
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
        <div id="content">

          <%= yield %>

        </div>
        <div id="sidebar">
          <ul>

            <% @recent_entries.each do |entry| %>
                <li>
                  <h2><%= entry.title %></h2>
                  <p><%= entry.content %></p>
                </li>
            <% end %>

          </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- end #page -->
</div>
<div id="footer">
  <p>leytonstonemasjid@gmail.com | 02085397251 | Leytonstone Masjid
    Dacre Road
    Leytonstone
    London
    E11 3AG</p>
</div>
<!-- end #footer -->

</body>
</html>
